.image-preview {
  display: inline-block;
  position: relative;

  img, video {
    height: 300px;
    width: 300px;
  }

  video {
    background-color: black;
    vertical-align: middle;
  }

  .glyphicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity: 0.5;
    color: white;
  }

  .inset {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    opacity: 0.8;
  }
}
